<a href="https://colab.research.google.com/github/castrolimoeiro/data-science/blob/main/snes_games.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install plotly --upgrade

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (4.4.1)
Collecting plotly
  Downloading plotly-5.1.0-py2.py3-none-any.whl (20.6 MB)
     |████████████████████████████████| 20.6 MB 1.2 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-5.1.0 tenacity-8.0.1

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [17]:
snes_games = pd.read_excel('/content/snes_games.xlsx')

In [18]:
snes_games.columns

Index(['Title', 'Developer(s)', 'Publisher(s)', 'Japan', 'North America',
       'PAL region'],
      dtype='object')

In [19]:
snes_games

                                   Title  ...        PAL region
0                     3 Ninjas Kick Back  ...        Unreleased
1                  3×3 Eyes Juuma Houkan  ...        Unreleased
2              3×3 Eyes Seima Kourin-den  ...        Unreleased
3                   3rd Super Robot Wars  ...        Unreleased
4                           4 Nin Shougi  ...        Unreleased
...                                  ...  ...               ...
2103            Zombies Ate My Neighbors  ...  January 27, 1994
2104                          •ZombiesEU  ...               NaN
2105                    Zoo-tto Mahjong!  ...        Unreleased
2106  Zool: Ninja of the "Nth" Dimension  ...              1994
2107                                Zoop  ...              1995

[2108 rows x 6 columns]